$bg-color: goldenrod;

.form {
    padding: 1em;
    background-color: darkred;
}

.methods {
    padding: 1em;
}

.displayState {
    padding: 1em;
}

.displayState h3 {
    display: inline-block;
}


.displayState h4 {
    display: inline-block;
    width: 3em;
    padding-left: 1em;
}

